<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Actualizar Película</title>

</head>
<body>
  <div class="container">
    <h3>ACTUALIZAR PELÍCULA</h3>

   
    <form action="/actualizarPelicula/" method="post" enctype="multipart/form-data" style="margin:0 auto">
      {% csrf_token %}

      <div class="mt-3">
        <label for="txtCodigo" class="fw-bold">Código:</label>
        <input type="text" name="txtCodigo" class="form-control" value="{{ pelicula.pelCodigo }}">
      </div>

      <div class="mt-3">
        <label for="txtTitulo" class="fw-bold">Título:</label>
        <input type="text" name="txtTitulo" class="form-control" value="{{ pelicula.pelTitulo }}">
      </div>

      <div class="mt-3">
        <label for="txtProtagonista" class="fw-bold">Protagonista:</label>
        <input type="text" name="txtProtagonista" class="form-control" value="{{ pelicula.pelProtagonista }}">
      </div>

      <div class="mt-3">
        <label for="txtDuracion" class="fw-bold">Duración:</label>
        <input type="number" name="txtDuracion" class="form-control" value="{{ pelicula.pelDuracion }}">
      </div>

      <div class="mt-3">
        <label for="txtResumen" class="fw-bold">Resumen:</label>
        <textarea name="txtResumen" cols="30" rows="3" class="form-control">{{ pelicula.pelResumen }}</textarea>
      </div>

      <div class="mt-3">
        <label for="cbGenero" class="fw-bold">Género:</label>
        <select name="cbGenero" class="form-select">
          <option value="">Seleccione</option>
          {% for g in generos %}
            {% if g.id == pelicula.pelGenero.id %}
              <option value="{{ g.id }}" selected>{{ g.genNombre }}</option>
            {% else %}
              <option value="{{ g.id }}">{{ g.genNombre }}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>

      <div class="mt-3">
        <label for="fileFoto" class="fw-bold">Foto:</label>
        <input type="file" name="fileFoto" class="form-control">
      </div>

      <!-- Hidden con el id de la película -->
      <input type="hidden" name="idPelicula" value="{{ pelicula.id }}">

      <!-- Botón dentro del form -->
      <div class="mt-4">
        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
      </div>
    </form>

  </div>
</body>
</html>
